[Unit]
Description=Mount SSHFS for remote host
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=PATH=/bin:/sbin:/usr/bin:/usr/sbin
ExecStartPre=-rmdir %h/.nas-home
ExecStartPre=-mkdir -p %h/.nas-home
ExecStart=sshfs -p 2222 -o reconnect,IdentityFile=~/.ssh/id_rsa,idmap=user nxxel@192.168.1.153:/share/homes/nxxel %h/.nas-home
ExecStartPost=-unlink %h/Backups
ExecStartPost=ln -sf %h/.nas-home/GDrive/Backups %h/Backups
ExecStop=fusermount -u %h/.nas-home
ExecStopPost=-unlink %h/Backups
RemainAfterExit=yes

[Install]
WantedBy=default.target

