---
- name: Configure bootloader for snapper rollback support
  become: true
  tags: [extra, btrfs, btrfs_bootloader]
  when:
    - is_grub_boot | default(false)
  block:
    - name: Remove rootflags=subvol parameter from GRUB_CMDLINE_LINUX
      ansible.builtin.replace:
        path: /etc/default/grub
        regexp: '\s*rootflags=subvol=[^"\s]+\s*'
        replace: " "
        backup: true
      register: btrfs_remove_rootflags_result
      notify: Regenerate GRUB configuration
