---
- name: Install core packages for GRUB support for btrfs and snapper
  tags: [extra, btrfs, btrfs_packages]
  when: is_grub_boot | default(false)
  block:
    - name: Install core packages
      ansible.builtin.package:
        name:
          - "snap-pac"
          - "snapper"
          - "inotify-tools"
        state: present

    - name: Install grub-btrfs for grub bootloader
      ansible.builtin.package:
        name: "grub-btrfs"
        state: present
      register: btrfs_grub_install
      changed_when: btrfs_grub_install.changed
