---
- name: Configure fstab based on detected bootloader
  tags: [extra, btrfs, btrfs_packages]
  when: is_grub_boot | default(false)
  block:
    - name: Install core packages
      ansible.builtin.package:
        name:
          - "snap-pac"
          - "snapper"
          - "inotify-tools"
        state: present

    - name: Install grub-btrfs for grub bootloader
      ansible.builtin.package:
        name: "grub-btrfs"
        state: present
      when: is_grub_boot
      register: btrfs_grub_install
      changed_when: btrfs_grub_install.changed

    # NOTE: snap-pac-grub has been temporarily disowned on the AUR
    # - name: Install snap-pac-grub from the AUR
    #   ansible.builtin.command: "{{ aur_helper }} -Sy --needed --noconfirm snap-pac-grub"
    #   register: btrfs_spg_install
    #   changed_when:
    #     - "'already up to date' not in aur_install.stdout"
    #     - "'there is nothing to do' not in aur_install.stdout"
    #   when: ansible_facts['distribution'] == "Archlinux" and aur_packages | length > 0
