* {
	border: none;
	border-radius: 0;
	font-family: "MesloLGL Nerd Font";
	font-size: 15px;
	font-weight: 500;
	min-height: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

@keyframes blink-font {
	0% {
		opacity: 0.25;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}
	50% {
		opacity: 1;
		color: #fab387;
		text-shadow: 0 0 3px rgba(255, 255, 255, 0.66);
	}
	100% {
		opacity: 0.25;
		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	}
}

window#waybar {
	background: rgba(21, 18, 27, 0);
	color: #cdd6f4;
}

window#waybar.empty #window {
	background-color: transparent;
}

tooltip {
	background: #313244;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

tooltip label {
	font-size: 14px;
	padding: 0 6px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight,
#custom-notification,
#custom-gputemp,
#custom-weather {
	background: #313244;
	padding: 0px 12px;
	margin: 5px 0px;
	border: 1px solid #181825;
}

#workspaces {
	background: #313244;
	border-radius: 15px;
	margin-left: 10px;
	margin-right: 6px;
}

#workspaces label {
	font-size: 20px;
	font-weight: 700;
}

#workspaces button {
	color: #b4befe;
}
#workspaces button:not(first-child) {
	padding: 0 12px;
}
#workspaces button:last-child {
	padding-right: 4px;
}

#workspaces button.active {
	color: #94e2d5;
}

#workspaces button.urgent {
	animation-name: blink-font;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#workspaces button:hover {
	color: #cdd6f4;
}

#temperature {
	border-radius: 15px;
	margin: 5px;
}

#temperature.critical {
	color: #eba0ac;
}

#tray {
	border-radius: 15px;
	margin-right: 10px;
}

#window {
	border-radius: 15px;
	margin-left: 40px;
	margin-right: 40px;
}

#clock {
	color: #fab387;
	border-radius: 15px;
	margin-right: 10px;
	padding: 0 15px;
	border-right: 0px;
	font-weight: 700;
}

#bluetooth {
	color: #89b4fa;
	border-radius: 15px;
	margin-right: 10px;
}

#pulseaudio {
	color: #89b4fa;
	border-left: 0px;
	border-right: 0px;
	border-radius: 15px 0px 0px 15px;
}

#pulseaudio.microphone {
	color: #cba6f7;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px 15px 15px 0px;
	margin-right: 10px;
}

#custom-gputemp {
	border-radius: 15px;
	color: #96d294;
	margin: 5px;
	margin-left: 0px;
}

#custom-notification {
	font-family: "NotoSansMono Nerd Font";
	font-size: 18px;
	border-radius: 15px;
	padding-right: 15px;
	margin-right: 10px;
}

#custom-weather {
	border-radius: 15px;
	margin: 5px;
	padding: 0px 12px;
}
