---
- name: Install discord-flatpak-rpc-bridge
  when: install_arpc_fix | default(false)
  tags: [extra, arpc]
  block:
    - name: Check if the service is enabled and active
      ansible.builtin.systemd:
        name: discord-flatpak-rpc-bridge.service
        scope: user
      register: arpcbridge_service_status
      ignore_errors: true

    - name: Check for the existence of the service installer
      ansible.builtin.stat:
        path: "{{ role_path }}/files/discord-flatpak-rpc-bridge/install.sh"
      register: arpcbridge_installer_exists

    - name: Run the service installer
      when:
        - arpcbridge_installer_exists.stat.exists
        - arpcbridge_service_status is failed or arpcbridge_service_status.status.ActiveState != "active"
      ansible.builtin.shell: |
        set -o pipefail
        cd "{{ role_path }}/files/discord-flatpak-rpc-bridge" && \
        ./install.sh -i
      args:
        executable: /bin/bash
      changed_when: false
      register: arpcbridge_installer_result

    - name: Ensure the service is started and enabled
      when:
        - arpcbridge_installer_exists.stat.exists
        - arpcbridge_installer_result.skipped is defined and not arpcbridge_installer_result.skipped
        - arpcbridge_installer_result.rc is defined and arpcbridge_installer_result.rc == 0
      ansible.builtin.systemd:
        name: discord-flatpak-rpc-bridge.service
        scope: user
        state: started
        enabled: true
