---
- name: Install personal NeoVim config
  when: enable_lazyvim | default(false)
  tags: [extra, dotfiles, dotfiles_lazyvim]
  vars:
    config_repo: "git@github.com:WombatFromHell/lazyvim.git"
    repo_dest: "{{ home_realpath }}/.config/nvim"
    # repo_ver: "6f790def3a1f222c7ac5439ebe5e7436505282cd" # pin to 11-13-25
  block:
    - name: Check for 'nvim'
      ansible.builtin.command: which nvim
      register: dotfiles_check_nvim
      ignore_errors: true
      changed_when: false
      failed_when: dotfiles_check_nvim.rc is defined and dotfiles_check_nvim.rc != 0

    - name: Check if '~/.config/nvim' exists
      ansible.builtin.stat:
        path: "{{ repo_dest }}"
      changed_when: false
      register: dotfiles_stat_nvim

    - name: Check that ssh private keys are installed
      when: dotfiles_stat_nvim.stat is defined and not dotfiles_stat_nvim.stat.exists
      ansible.builtin.shell: |
        set -o pipefail
        ssh -T git@github.com 2>&1
      register: dotfiles_ssh_git_check
      failed_when: "'successfully authenticated' not in dotfiles_ssh_git_check.stdout"
      ignore_errors: true
      changed_when: false

    - name: Set ssh verified fact
      when: dotfiles_stat_nvim.stat is defined and not dotfiles_stat_nvim.stat.exists
      ansible.builtin.set_fact:
        dotfiles_ssh_git_success:
          - "'successfully authenticated' in dotfiles_ssh_git_check.stdout"

    - name: Clone our personal private config to "~/.config/nvim"
      when:
        - not ansible_check_mode
        - dotfiles_stat_nvim.stat is defined and not dotfiles_stat_nvim.stat.exists
        - dotfiles_ssh_git_success is defined
      ansible.builtin.git:
        repo: "{{ config_repo }}"
        version: master
        dest: "{{ repo_dest }}"
