[Unit]
Description=Provide Lock/Unlock Script Event Functionality for KDE Plasma 6

[Service]
Type=simple
Environment="PATH=%h/.local/bin:/usr/bin:/usr/sbin:/bin:/sbin"
ExecStart=%h/.local/bin/monitor-dbus-session-state.sh
ExecStop=/usr/bin/pkill -9 -f monitor-dbus-session-state.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
