[Unit]
Description=OpenRGB Profile Service (lightsout)

[Service]
Type=oneshot
ExecStart=%h/.local/bin/openrgb-load.sh

[Install]
WantedBy=graphical-session.target
