[Unit]
Description=Optional "linuxdata" Disk Mount

[Mount]
What=/dev/disk/by-uuid/be63764a-f6bd-4687-aa07-9c7ddea97cc4
Where=/mnt/linuxdata
Type=btrfs
Options=noatime,compress=zstd:3,subvol=@,nofail,x-gvfs-show,x-systemd.mount-timeout=5

[Install]
WantedBy=multi-user.target
