[Unit]
Description=Optional "windata" Disk Mount

[Mount]
What=/dev/disk/by-uuid/C4C8CF61C8CF507A
Where=/mnt/windata
Type=ntfs3
Options=nofail,umask=0000,rw,users,noexec,prealloc,iocharset=utf8,windows_names,noatime,x-gvfs-show,x-systemd.mount-timeout=5
DirectoryMode=0755

[Install]
WantedBy=multi-user.target
