---
- name: Setup Distrobox and common containers
  tags: [extra, distrobox]
  when: enable_distrobox | default(false)
  block:
    - name: Check if distrobox is installed
      ansible.builtin.command:
        cmd: "distrobox --version"
      register: distrobox_check
      failed_when: result.rc != 0
      changed_when: false

    - name: Install distrobox (ArchLinux)
      become: true
      when: distrobox_check.rc != 0
      ansible.builtin.package:
        name:
          - "distrobox"
          - "podman"
        state: present

    - name: Check if 'cursoride' container exists
      when: enable_cursor | default(false)
      ansible.builtin.command:
        cmd: "distrobox ls | grep -q cursoride"
      register: distrobox_cursoride_check
      failed_when: result.rc != 0
      changed_when: false
      ignore_errors: true

    - name: Create 'cursoride' container
      when:
        - distrobox_check.rc != 0
        - distrobox_cursoride_check.rc != 0
        - enable_cursor | default(false)
      ansible.builtin.command:
        cmd: "distrobox assemble create --file ./distrobox/assemble-cursoride.ini"
      register: distrobox_create_cursoride_container
      changed_when: "'created' in distrobox_create_cursoride_container.stdout or 'already exists' not in distrobox_create_cursoride_container.stdout"

    - name: Check if 'devbox' container exists
      when: enable_devbox | default(false)
      ansible.builtin.command:
        cmd: "distrobox ls | grep -q devbox"
      register: distrobox_devbox_check
      failed_when: result.rc != 0
      changed_when: false
      ignore_errors: true

    - name: Create 'devbox' container
      when:
        - distrobox_check.rc != 0
        - distrobox_devbox_check.rc != 0
        - enable_devbox | default(false)
      ansible.builtin.command:
        cmd: "distrobox assemble create --file ./distrobox/assemble-devbox.ini"
      register: distrobox_create_devbox_container
      changed_when: "'created' in create_devbox_container.stdout or 'already exists' not in create_devbox_container.stdout"
