---
- name: Handle Brave browser installation
  when:
    - enable_flatpak
    - install_brave | default(false)
  tags: [extra, flatpak, flatpak_extra, flatpak_brave]
  vars:
    brave_app: com.brave.Browser
  block:
    - name: Install Brave browser
      community.general.flatpak:
        name: "{{ brave_app }}"
        state: present
        method: user

    - name: Install libva-nvidia-driver on Arch
      when:
        - ansible_facts['distribution'] == "Archlinux"
        - nvidia_exists | default(false)
      become: true
      ansible.builtin.package:
        name: "libva-nvidia-driver"
        state: present

    - name: Apply Chrome VAAPI fix
      when:
        - chrome_vaapi_fix | default(false)
        - nvidia_exists | default(false)
      block:
        - name: Check Brave VAAPI fix script
          ansible.builtin.stat:
            path: "{{ dotfiles_root }}/Configs/scripts/fix-vaapi-chromium-flatpak.sh"
          register: flatpak_brave_script
          ignore_errors: true

        - name: Set executable permission for Brave fix script
          ansible.builtin.file:
            path: "{{ flatpak_brave_script.stat.path }}"
            mode: "0755"
          when:
            - flatpak_brave_script.stat.exists is defined
            - flatpak_brave_script.stat.exists
            - not flatpak_brave_script.stat.isdir

        - name: Check if VAAPI driver files exist
          ansible.builtin.stat:
            path: "{{ home_realpath }}/.var/app/{{ brave_app }}/dri/{{ item }}"
          register: flatpak_vaapi_fix_check
          ignore_errors: true
          changed_when: false
          loop:
            - "nvidia_drv_video.so"
            - "radeonsi_drv_video.so"

        - name: Assert at least one VAAPI driver file exists
          ansible.builtin.assert:
            that:
              - flatpak_vaapi_fix_check is success
              - flatpak_vaapi_fix_check.results | selectattr('stat.exists') | list | length > 0
            fail_msg: "No VAAPI driver files found, will attempt to apply fix"
            success_msg: "VAAPI driver files already exist"
          register: flatpak_vaapi_check
          ignore_errors: true

        - name: Apply Brave VAAPI fix
          when:
            - flatpak_brave_script.stat.exists is defined
            - flatpak_brave_script.stat.exists
            - not flatpak_brave_script.stat.isdir
            - flatpak_vaapi_check is failed # Only run if the assert failed (no drivers found)
          ansible.builtin.script: "{{ flatpak_brave_script.stat.path }}"
          register: flatpak_chromium_vaapi_fix
          ignore_errors: true
          changed_when: flatpak_chromium_vaapi_fix.rc == 0
