---
- name: Install Flatpak packages
  tags: [extra, flatpak]
  when: enable_flatpak | default(false)
  block:
    - name: Ensure Flatpak is installed (Archlinux)
      when: ansible_facts['distribution'] == "Archlinux"
      ansible.builtin.package:
        name: "flatpak"
        state: present
      become: true
      tags: flatpak_install

    - name: Check for flatpak executable
      when: ansible_facts['distribution'] != "Archlinux"
      ansible.builtin.command: which flatpak
      register: flatpak_check
      changed_when: false
      ignore_errors: true

    - name: Validate flatpak installation
      when:
        - not ansible_check_mode
        - ansible_facts['distribution'] != "Archlinux"
      ansible.builtin.assert:
        that:
          - flatpak_check is defined
          - flatpak_check.rc == 0
        fail_msg: "Flatpak is not installed or not in PATH"
        success_msg: "Flatpak is available at {{ flatpak_check.stdout }}"

    - name: Ensure FlatHub repo exists for the user
      community.general.flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
        method: user
      register: flatpak_repo_exists

    - name: Install system packages
      become: true
      when: system_flatpaks is defined and system_flatpaks | length > 0
      flatpak_manage:
        packages: "{{ system_flatpaks | default([]) }}"
        scope: system
        state: present
        remove_extra: "{{ remove_existing_flatpaks | default(false) }}"
        skip_packages: "{{ skip_flatpaks | default([]) }}"

    - name: Install user packages
      when:
        - flatpak_repo_exists is defined
        - user_flatpaks is defined and user_flatpaks | length > 0
      flatpak_manage:
        packages: "{{ user_flatpaks | default([]) }}"
        scope: user
        state: present
        remove_extra: "{{ remove_existing_flatpaks | default(false) }}"
        skip_packages: "{{ skip_flatpaks | default([]) }}"

    - name: Handle flatpak extra packages and workarounds
      block:
        - name: Include flatpak brave tasks
          ansible.builtin.include_tasks: flatpak_brave.yml
          tags: [extra, flatpak, flatpak_extra, flatpak_brave]

        - name: Include flatpak firefox tasks
          ansible.builtin.include_tasks: flatpak_firefox.yml
          tags: [extra, flatpak, flatpak_extra, flatpak_firefox]

        - name: Include flatpak peazip tasks
          ansible.builtin.include_tasks: flatpak_peazip.yml
          tags: [extra, flatpak, flatpak_extra, flatpak_peazip]

        - name: Install OBS Studio and plugins
          community.general.flatpak:
            name: "{{ item }}"
            state: present
            method: user
          loop:
            - org.freedesktop.Platform.VulkanLayer.OBSVkCapture
            - com.obsproject.Studio.Plugin.OBSVkCapture
            - com.obsproject.Studio.Plugin.Gstreamer
            - com.obsproject.Studio.Plugin.GStreamerVaapi
            - com.obsproject.Studio
          when: install_obs | default(false)
          tags: [exta, flatpak, flatpak_extra, flatpak_obs]
