"/home/josh/.config/zellij/plugins/zellij-autolock.wasm" {
    ChangeApplicationState
    ReadApplicationState
}
"/home/josh/.config/zellij/plugins/zjstatus.wasm" {
    ReadApplicationState
    RunCommands
    ChangeApplicationState
}
