# Enable wakeups from MediaTek Bluetooth Radio (MT7922)
ACTION=="add|change", DRIVERS=="usb", SUBSYSTEM=="usb", \
  ATTR{idVendor}=="0e8d", ATTR{idProduct}=="0616", \
  TEST=="power/wakeup", ATTR{power/wakeup}="enabled"
