[Unit]
Description=JoystickWake Service

[Service]
Type=simple
ExecStart=%h/.local/bin/scripts/bazzite-joystickwake.sh

[Install]
WantedBy=graphical-session.target
