[Unit]
Description=Kanshi Service
BindsTo=niri.service
After=niri.service

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
ExecReload=/usr/bin/pkill --signal HUP -x kanshi
TimeoutStopSec=10

[Install]
WantedBy=niri.service
