[Unit]
Description=Kanshi Service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target


[Service]
Type=simple
ExecCondition=/usr/bin/sh -c '[ "$XDG_CURRENT_DESKTOP" = "niri" ]'
ExecStart=/usr/bin/kanshi
ExecReload=/usr/bin/pkill --signal HUP -x kanshi
Restart=on-failure
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
