[Unit]
Description=Conditional MangoHUD framelimiter (only under Wayland compositors)
PartOf=wayland-session-pre@niri.desktop.target wayland-session-pre@hyprland.desktop.target
After=wayland-session-pre@niri.desktop.target wayland-session-pre@hyprland.desktop.target
Before=wayland-session@niri.desktop.target wayland-session@hyprland.desktop.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/uwsm-mangohud start
ExecStop=%h/.local/bin/uwsm-mangohud stop

[Install]
WantedBy=wayland-session-pre@niri.desktop.target wayland-session-pre@hyprland.desktop.target
