[Unit]
Description=Mount SSHFS for remote host
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/scripts/nasmount-sshfs.sh mount
ExecStop=%h/.local/bin/scripts/nasmount-sshfs.sh unmount
RemainAfterExit=yes

[Install]
WantedBy=default.target

