[Unit]
Description=Niri VRR/Fullscreen Watcher
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Type=simple
ExecStartPre=/usr/bin/systemctl --user import-environment WAYLAND_DISPLAY
ExecStart=/usr/local/bin/niri-watcher
Restart=on-failure
RestartSec=5
KillMode=control-group
TimeoutStopSec=5
ExecStop=/usr/bin/pkill -TERM -f "gamemode" || true
Environment=WATCHER_HOOK_ON="%h/.local/bin/gamemode on"
Environment=WATCHER_HOOK_OFF="%h/.local/bin/gamemode off"

[Install]
WantedBy=graphical-session.target
