[Unit]
Description=Niri VRR/Fullscreen Watcher
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecCondition=/usr/bin/sh -c '[ "$XDG_CURRENT_DESKTOP" = "niri" ]'
ExecStartPre=/usr/bin/systemctl --user import-environment WAYLAND_DISPLAY
ExecStart=/usr/local/bin/niri-watcher
Restart=on-failure
RestartSec=5
KillMode=control-group
TimeoutStopSec=5
ExecStop=/usr/bin/pkill -TERM -f "gamemode.py" || true
Environment=WATCHER_HOOK_ON="%h/.local/bin/scripts/gamemode.py on"
Environment=WATCHER_HOOK_OFF="%h/.local/bin/scripts/gamemode.py off"

[Install]
WantedBy=graphical-session.target
