[Unit]
Description=Niri VRR/Fullscreen Watcher
Documentation=man:niri(1)
After=niri.service
PartOf=niri.service

[Service]
Type=simple
ExecStart=/usr/local/bin/niri-watcher
Restart=on-failure
RestartSec=5
KillMode=mixed
TimeoutStopSec=10
Environment=WAYLAND_DISPLAY=%E{WAYLAND_DISPLAY}
Environment=WATCHER_HOOK_ON="%h/.local/bin/scripts/gamemode.py on"
Environment=WATCHER_HOOK_OFF="%h/.local/bin/scripts/gamemode.py off"

[Install]
# Only wanted when niri.service is wanted
WantedBy=niri.service
