[Unit]
Description=NVFanControl Service
Wants=display-manager.service
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/nvfancontrol -f -l 0
ExecStop=/usr/bin/pkill -9 nvfancontrol
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
