[Unit]
Description=Set NVIDIA power limit
Wants=default.service
After=default.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nvidia-pm.sh low
ExecStop=/usr/local/bin/nvidia-pm.sh undo
RemainAfterExit=yes

[Install]
WantedBy=default.target
