[Unit]
Description=NVIDIA Power Limit Service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nvidia-pm.py
ExecStop=/usr/local/bin/nvidia-pm.py undo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
