---
- name: "Process mount file using systemd_mount module"
  systemd_mount:
    src_dir: "{{ role_path }}/files"
    mount_file: "{{ mount_item.path | basename }}"
    dst: "/etc/systemd/system"
    os_type: "{{ os_release_id }}"
    mode: "single_mount"
    state: "present"
  become: true
  register: mounts_mount_result

- name: "Debug mount result"
  ansible.builtin.debug:
    var: mounts_mount_result
    verbosity: 1
