[Desktop Entry]
Name=Heroic Games Launcher
Exec={{ home_realpath }}/AppImages/heroic_games_launcher.appimage --no-sandbox %U
TryExec={{ home_realpath }}/AppImages/heroic_games_launcher.appimage
Icon={{ home_realpath }}/AppImages/.icons/heroic_games_launcher.png
Terminal=false
Type=Application

StartupWMClass=Heroic
X-AppImage-Version=2.15.2
Comment[de]=Ein Open Source Spielelauncher for GOG und Epic Games
Comment=An Open Source Launcher for GOG and Epic Games
MimeType=x-scheme-handler/heroic;
Categories=Game;

X-AppImage-Version=2.15.2
