[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenRGB
Comment=Control RGB lighting
Exec={{ home_realpath }}/AppImages/openrgb.appimage
TryExec={{ home_realpath }}/AppImages/openrgb.appimage
Icon={{ home_realpath }}/AppImages/.icons/openrgb.png

Terminal=false
Categories=Utility;

X-AppImage-Version=8682f8
