[Desktop Entry]
Version=1.0
Name=Screen Locker for Bazzite
Comment=Lock your screen
Exec=/usr/libexec/kscreenlocker_greet --immediateLock
Terminal=false
Type=Application
Icon=emblem-locked
Categories=GNOME;System;
StartupNotify=false
