[Desktop Entry]
Categories=Utility;
Exec={{ home_realpath }}/AppImages/trguing.appimage %u
TryExec={{ home_realpath }}/AppImages/trguing.appimage
Icon={{ home_realpath }}/AppImages/.icons/trguing.png

Name=TrguiNG
Comment=Transmission torrent daemon remote GUI
Terminal=false
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;

X-AppImage-Version=b912e7
