[Desktop Entry]
Name=Vesktop
Exec={{ home_realpath }}/.local/bin/scripts/chrome_with_flags.py {{ home_realpath }}/AppImages/vesktop.appimage --no-sandbox %U
TryExec={{ home_realpath }}/AppImages/vesktop.appimage
Icon={{ home_realpath }}/AppImages/.icons/vesktop.png
Terminal=false
Type=Application

StartupWMClass=Vesktop
X-AppImage-Version=1.5.3
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;

X-AppImage-Version=1.5.3
MimeType=x-scheme-handler/discord;
