---
- name: Reload user systemd
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  listen: reload_user_systemd

- name: Refresh bat cache
  ansible.builtin.command:
    cmd: bat cache --build
    creates: "{{ home_realpath }}/.config/bat/.cache-built"
  listen: refresh_bat_cache

- name: Fix yazi tasks on ostree
  when: os_release_id == "bazzite"
  become: true
  vars:
    this_uid: "{{ ansible_facts.user_uid }}"
    this_gid: "{{ ansible_facts.user_gid }}"
  ansible.builtin.file:
    path: "/var/.Trash-{{ this_uid }}"
    state: directory
    mode: "0755"
    owner: "{{ ansible_facts.user_id }}"
  register: fix_yazi_result
  ignore_errors: true
  changed_when: fix_yazi_result.rc is defined and fix_yazi_result.rc == 0
  listen: fix_yazi_tasks

- name: Refresh fish plugins
  ansible.builtin.command:
    cmd: fish -l -c 'update_fisher'
    creates: "{{ home_realpath }}/.config/fish/functions/fisher.fish"
  listen: refresh_fish_plugins

- name: Update desktop database
  ansible.builtin.command:
    cmd: update-desktop-database ~/.local/share/applications
  listen: update desktop database
  changed_when: false
