[core]
	askpass =
[user]
	name = WombatFromHell
	email = WombatFromHell@users.noreply.github.com
	signingkey = C68C7E751A853172DF30686248836A072D7B5656
[alias]
	aa = add -A .
	aacm = !git add -A . && git commit -m
	amendm = commit --amend -m
  asign = !git commit -S --amend
	br = branch
	brd = branch -d
	brD = branch -D
	cm = commit -m
	co = checkout
	cob = checkout -b
	coo = !git fetch && git checkout
	cfd = !git clean -f -d
	cp = cherry-pick
	dev = !git checkout dev && git pull origin dev
  dmerged = "git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	dstash = !git stash --keep-index && !git stash push -m "staged" --keep-index && !git stash pop stash@{1}
	f = "!git ls-files | grep -i"
  gca = gc --auto
  gcagg = !git prune && git gc --aggressive
	gr = grep -Ii
  hard-drop = !git reset HEAD --hard && git clean -f -d
	hreset = reset --hard HEAD
  la = "!git config -l | grep alias | cut -c 7-"
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	main = !git checkout main && git pull origin
	merged = branch --merged
	po = push origin
	pod = push origin dev
  pogm = !git push origin gh-pages && git checkout main && git pull origin main && git rebase gh-pages && git push origin main && git checkout gh-pages
  poh = push origin HEAD
	pos = push origin staging
	pom = push origin main
	pomg = !git push origin main && git checkout gh-pages && git pull origin gh-pages && git rebase main && git push origin gh-pages && git checkout main
	plo = pull origin
	plod = pull origin dev
	plos = pull origin staging
	plom = pull origin main
	ploh = pull origin HEAD
  racm = !git reset HEAD^ && git add -A . && git commit -m
  reflogg = !git log --graph --reflog
  ram = !git add -A . && git commit --amend --no-edit
  ramm = !git add -A . && git commit --amend -m
	st = status
	staging = !git checkout staging && git pull origin staging
	stashall = !git stash --all
	stashu = !git stash push -u
  stat = !git --no-pager log --oneline -10
	switchsafe = !git stash save -u
	unstage = reset --soft HEAD^
[core]
	pager = less -F -X
[credential]
	helper =
[commit]
	gpgsign = true
