---
- name: Install Home-Manager for Nix
  tags: [extra, nix, home_manager]
  when:
    - enable_nix | default(false)
    - nix_installed.rc is defined and nix_installed.rc == 0
  vars:
    nix_binary: "/nix/var/nix/profiles/default/bin/nix"
    hm_binary: "{{ home_realpath }}/.nix-profile/bin/home-manager"
    home_manager_installer: "run home-manager/master"
    hm_args: "-- init --switch {{ home_realpath }}/.config/home-manager"
    git_repo: "git@github.com:WombatFromHell/automatic-palm-tree.git"

  block:
    - name: Check for existing 'nix' binary
      ansible.builtin.command: which nix
      ignore_errors: true
      changed_when: false
      register: nix_exists

    - name: Check for existing home-manager binary
      ansible.builtin.command: which home-manager
      ignore_errors: true
      changed_when: false
      register: nix_hm_exists

    - name: Install home-manager
      ansible.builtin.command:
        cmd: "nix {{ home_manager_installer }} {{ hm_args }}"
      when:
        - nix_exists.rc is defined and nix_exists.rc == 0
        - nix_hm_exists.rc is defined and nix_hm_exists.rc != 0 # only if home-manager doesn't exist
      register: nix_hm_install_result
      changed_when: nix_hm_install_result.rc is defined and nix_hm_install_result.rc == 0

    - name: Check if 'home-manager' binary exists
      ansible.builtin.stat:
        path: "{{ hm_binary }}"
      register: nix_stat_hm_binary

    - name: Check if '~/.nix' exists
      ansible.builtin.stat:
        path: "{{ home_realpath }}/.nix"
      register: nix_stat_home

    - name: Clone personal config
      ansible.builtin.git:
        repo: "{{ git_repo }}"
        version: c03ee4930a9a68c65d9f871fe93e622d66393a5d # pin to 03-24-25
        dest: "{{ home_realpath }}/.nix"
      when:
        - nix_stat_home.stat is defined
        - not nix_stat_home.stat.exists
        - nix_stat_hm_binary.stat is defined
        - nix_stat_hm_binary.stat.exists and nix_stat_hm_binary.stat.executable
