[Desktop Entry]
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
Categories=Network;FileTransfer;Game;
Comment=Steam (Tenfoot)
Exec={{ scripts_dir }}/bazzified-steam.sh tenfoot -- %U
GenericName[en_US]=
GenericName=
Icon=steam
MimeType=
Name=Steam Gamescope
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=
