---
- name: Add per-host kernel args
  tags: [extra, bootloader]
  become: true
  block:
    - name: Look for rEFInd
      when:
        - ansible_facts['distribution'] == "Archlinux"
        - kernel_args is defined and kernel_args | trim != ""
        - "'refind' in ansible_cmdline"
      block:
        - name: Check if refind_linux.conf exists
          ansible.builtin.stat:
            path: "/boot/refind_linux.conf"
          register: base_refind_exists

        - name: Check current kernel args in refind config
          when:
            - base_refind_exists.stat.exists
          bootloader_mod:
            bootloader: "refind"
            config_file: "/boot/refind_linux.conf"
            check_args: "{{ kernel_args }}"
          register: base_check_refind_result

        - name: Add missing kernel args to refind config
          when:
            - base_refind_exists.stat.exists
            - not base_check_refind_result.args_exist | default(false)
          bootloader_mod:
            bootloader: "refind"
            config_file: "/boot/refind_linux.conf"
            text_to_add: "{{ kernel_args }}"
          register: base_modify_refind_result

    - name: Look for GRUB
      when:
        - ansible_facts['distribution'] == "Archlinux"
        - kernel_args is defined and kernel_args | trim != ""
      block:
        - name: Check if /etc/default/grub exists
          ansible.builtin.stat:
            path: "/etc/default/grub"
          register: base_grub_exists

        - name: Check current kernel args in grub config
          when:
            - base_grub_exists.stat.exists
          bootloader_mod:
            bootloader: "grub"
            config_file: "/etc/default/grub"
            check_args: "{{ kernel_args }}"
          register: base_check_grub_result

        - name: Add missing kernel args to grub config
          when:
            - base_grub_exists.stat.exists
            - not base_check_grub_result.args_exist | default(false)
          bootloader_mod:
            bootloader: "grub"
            config_file: "/etc/default/grub"
            text_to_add: "{{ kernel_args }}"
          register: base_modify_grub_result

    - name: Look for Limine
      when:
        - ansible_facts['distribution'] == "Archlinux"
        - kernel_args is defined and kernel_args | trim != ""
      block:
        - name: Check if /etc/default/limine exists
          ansible.builtin.stat:
            path: "/etc/default/limine"
          register: base_limine_exists

        - name: Check current kernel args in limine config
          when:
            - base_limine_exists.stat.exists
          bootloader_mod:
            bootloader: "limine"
            config_file: "/etc/default/limine"
            check_args: "{{ kernel_args }}"
          register: base_check_limine_result

        - name: Add missing kernel args to limine config
          when:
            - base_limine_exists.stat.exists
            - not base_check_limine_result.args_exist | default(false)
          bootloader_mod:
            bootloader: "limine"
            config_file: "/etc/default/limine"
            text_to_add: "{{ kernel_args }}"
          register: base_modify_limine_result

    - name: Change kernel args (ostree)
      when:
        - os_release_id == "bazzite"
        - kernel_args is defined and kernel_args | trim != ""
      block:
        - name: Check current kernel cmdline
          ansible.builtin.shell: |
            set -o pipefail
            cat /proc/cmdline | grep "{{ kernel_args }}"
          register: base_kernel_args_rc
          failed_when: false
          changed_when: false
          check_mode: false

        - name: Append missing kernel arguments
          ansible.builtin.command: rpm-ostree kargs --append-if-missing="{{ kernel_args }}"
          when: base_kernel_args_rc.rc != 0
          register: base_kargs_result
          changed_when: "'Already present' not in base_kargs_result.stderr"
