---
- name: Enablement for ZRAM using zram-generator
  tags: [extra, zram]
  block:
    - name: Ensure /etc/systemd/system directory exists
      become: true
      ansible.builtin.file:
        path: /etc/systemd
        state: directory
        mode: "0755"

    - name: Copy unit files to /etc/systemd/system with proper permissions
      ansible.builtin.copy:
        src: "{{ role_path }}/files/zram-generator.conf"
        dest: "/etc/systemd/zram-generator.conf"
        mode: "0644"
        remote_src: false
        backup: true
      become: true
      no_log: true

    - name: Get active zram devices
      ansible.builtin.command: zramctl --output NAME --noheadings --raw
      become: true
      register: base_zram_devices
      changed_when: false

    - name: Disable swap on zram0 if active
      ansible.builtin.command: swapoff /dev/zram0
      become: true
      when: "'zram0' in base_zram_devices.stdout"
      register: base_swapoff_result
      changed_when: base_swapoff_result.rc == 0

    - name: Reset zram0 if it exists
      ansible.builtin.command: tee /sys/block/zram0/reset
      become: true
      args:
        stdin: "1"
      when: '"zram0" in base_zram_devices.stdout'
      register: base_zram_reset_result
      changed_when: base_zram_reset_result.rc == 0

    - name: Enable service units
      ansible.builtin.systemd:
        name: "systemd-zram-setup@zram0.service"
        daemon_reload: true
        enabled: true
        state: restarted
      become: true
