[Unit]
Description=Run beesd deduplication during maintenance window

[Timer]
Persistent=true
OnBootSec=15min
OnUnitInactiveSec=10d

[Install]
WantedBy=timers.target
