[Unit]
Description=Kanshi Service
After=graphical-session.target
PartOf=niri.service
After=niri.service
ConditionEnvironment=!DESKTOP_SESSION=plasma

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
ExecReload=/usr/bin/pkill --signal HUP -x kanshi
Restart=on-failure
RestartSec=2
TimeoutStop=10

[Install]
WantedBy=graphical-session.target
