[Unit]
Description=Noctalia Shell Service
PartOf=graphical-session.target
Requisite=graphical-session.target
After=graphical-session.target
Requires=niri.service

[Service]
ExecStart=/usr/bin/qs -c noctalia-shell
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
