[Unit]
Description=Noctalia Shell Service
After=graphical-session.target
PartOf=niri.service
After=niri.service
ConditionEnvironment=!DESKTOP_SESSION=plasma

[Service]
Type=simple
ExecStart=/usr/bin/qs -c noctalia-shell
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
